.checkout_container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.failedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
    text-align: center;
}
.failedIcon {
    width: 400px;
    height: 400px;
    color: rgb(202, 40, 40);
    margin-bottom: 10px;
}

.successContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
    text-align: center;
}

.successIcon {
    width: 400px;
    height: 400px;
    color: rgb(16, 198, 16);
    margin-bottom: 10px
}

.paymentOptions{
    display: inline-block;
    vertical-align: middle;
    margin-left: 70px;
    width: 330px;
    height: 380px;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 2px solid black;
    border-radius: 10px;
}

.paymentOptions h2{
    position: relative;
    color: #fff;
    font-size: 2.5em;
    font-weight: 400;
    text-align: left;
    background: black;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
}

.paymentOptionBtn{
    margin-left: 30px;
    width: 80%;
    margin-top: 30px;
    color: black;
    font-size: 1.3em;
    text-align: center;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    transition: .5s;
}


.paymentOptionBtn:hover{
    background: rgb(118, 114, 114);
}

.icon{
    position: inherit;
    margin-left: 10px;
}
