a(href="/user/admin/patients")
    button(type="button") View Patient's Info
a(href="/user/admin/pharmacists")
    button(type="button") View Pharmacist's Info
a(href="/user/admin/viewpendingpharma")
    button(type="button") View Pending Pharmacists
a(href="/addAdmin")
    button(type="button") Add Admin
a(href="/removeUser")
    button(type="button") Remove User
a(href="/medicine/findmedicine")
    button(type="button") View Medicine
a(href="/medicine")
    button(type="button") View All Medicine

a(href='/admin/healthPackage') Health Packages
br
a(href='/addAdmin') Add Admin
br
a(href='/removeUser') Remove User
br
a(href='/admin/pendingDoctors') View Pending D