a(href="/medicine/findmedicine")
    button(type="button") View Medicine
a(href="/medicine")
    button(type="button") View All Medicine

//- -----------------------------------

a(href="/prescription/viewprescription") View prescriptions
br
a(href="/family/addFamily") Add Family Member
br
a(href="/family/viewfamilymember") View Family Members
br
button(type='button') 
    a(href='/doctor/viewDoctors') View/Search Doctors
