a(href="/prescription/viewprescription") View prescriptions
br
a(href="/familymember/addFamily") Add Family Member
br
a(href="/familymember/viewfamilymember") View Family Members
br
button(type='button') 
    a(href='/doctors/viewDoctors') View/Search Doctors