a(href="/medicine/findmedicine")
    button(type="button") View Medicine
a(href="/medicine/getmedstats")
    button(type="button") View Medicine Stats
a(href="/medicine")
    button(type="button") View All Medicine