doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title='Pharmacy | Admin'
    body
     a(href="/selectpatient")
      button(type="button") View Patient's Info
     a(href="/selectpharmacist")
      button(type="button") View Pharmacist's Info
     a(href="/user/admin/viewpharmainfo")
      button(type="button") View Pending Pharmacists
      