doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title='Pharmacy | Admin'
    body
     a(href="/user/admin/patients")
      button(type="button") View Patient's Info
     a(href="/user/admin/pharmacists")
      button(type="button") View Pharmacist's Info
     a(href="/user/admin/viewpendingpharma")
      button(type="button") View Pending Pharmacists
      