doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title='Virtual Clinic | Login'
    body
    form(action='/user/login' method='POST')
        .form-group
            label(for='username') Username
            input.form-control(type='text', name='username' placeholder='Username' autofocus=true required)
        .form-group
            label(for='password') Password
            input.form-control(type='password', name='password' required)
        button.btn.btn-primary(type='submit') Login
        br
        a(href='/register') Register new account.