doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title='Virtual Clinic | Register'
    body
    if registerType == "doctor"
        h2 Registering as a Doctor 
        a(href='/register?type=patient') Register patient
        form(action='/user/register/doctor' method='POST')
            .form-group
                label(for='username') Username
                input.form-control(type='text', name='username' placeholder='Username' required autofocus=true)
            .form-group
                label(for='name') Name
                input.form-control(type='text', name='name' placeholder='Name' required )
            .form-group
                label(for='email') Email
                input.form-control(type='email', name='email' placeholder='Email' required )
            .form-group
                label(for='password') Password
                input.form-control(type='password', name='password' required )
            .form-group
                label(for='dateOfBirth') Date of Birth
                input.form-control(type='date', name='dateOfBirth' placeholder='Date of Birth' required )
            .form-group
                label(for='speciality') Choose your Speciality:
                select#selectOption(name='speciality')
                    - const specialityEnum = ['All', 'General Practitioner', 'Cardiologist', 'Neurologist', 'Dermatologist', 'Surgeon', 'Ophthalmologist', 'Optometrist', 'Pediatrician', 'Family Medicine', 'Radiologist', 'Psychiatrist', 'Anesthesiologist']
                    each value in specialityEnum
                        option(value=value)= value
            .form-group
                label(for='payRate') Hourly Rate
                input.form-control(type='number' id="payRate" name='payRate' placeholder='0.00' step=".01" required )
            .form-group
                label(for='affiliation') Affiliation
                input.form-control(type='text' id="affiliation" name='affiliation' placeholder='Hospital Name' required )
            p Educational Background
            .form-group
                label(for='education_name') Name
                input.form-control(type='text' id='education_name' name='education_name' placeholder='University\'s Name' required )
            //- .form-group
            //-     label(for='education_start') From
            //-     input.form-control(type='month' id="education_start" name='education_start' placeholder='Start' required )
            .form-group
                label(for='education_end') Graduated on
                input.form-control(type='month' id="education_end" name='education_end' placeholder='End' required )
            button.btn.btn-primary(type='submit') Register
    else if registerType == "patient"
        h2 Registering as a Patient
        a(href='/register?type=doctor') Register doctor
        form(action='/user/register/patient' method='POST')
            .form-group
                label(for='username') Username
                input.form-control(type='text', name='username' placeholder='Username' required autofocus=true)
            .form-group
                label(for='name') Name
                input.form-control(type='text', name='name' placeholder='Name' required )
            .form-group
                label(for='email') Email
                input.form-control(type='email', name='email' placeholder='Email' required )
            .form-group
                label(for='password') Password
                input.form-control(type='password', name='password' required )
            .form-group
                label(for='dateOfBirth') Date of Birth
                input.form-control(type='date', name='dateOfBirth' placeholder='Date of Birth' required )
            .form-group
                label(for='gender') Gender
                select.form-control(name="gender" required)
                    option(value='male') Male
                    option(value='female') Female
            .form-group
                label(for='mobile') Mobile Number
                input.form-control(type='tel' id="mobile" name='mobile' placeholder='Mobile Number' required )
            p Emergency Contact
            .form-group
                label(for='emergency_name') Name
                input.form-control(type='text' id='emergency_name' name='emergency_name' placeholder='Contact\'s Name' required )
            .form-group
                label(for='emergency_mobile') Mobile Number
                input.form-control(type='tel' id="emergency_mobile" name='emergency_mobile' placeholder='Mobile Number' required )
            .form-group
                label(for='emergency_relation') Relation to you
                select.form-control(name="emergency_relation" id="emergency_relation" required)
                    option(value='wife') Wife
                    option(value='husband') Husband
                    option(value='child') Child
            button.btn.btn-primary(type='submit') Register
    else 
        h2 Invalid User Type

    a(href='/login') Already a user? Log in!
