body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background: rgb(242, 241, 241);
}

a {
  color: black;
}

.filterContainer{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.search {
  position: relative;
  padding: 20px;
}

.dateFilter {
  position: relative;
  margin-top: 20px;
  padding: 20px;
}

.search input {
  position:relative;
  padding: 5px;
  height: 40px;
  width: 250px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search button {
  position: relative;
  background-color: #9a06ea; /* Background color for the button */
  color: #fff; /* Text color */
  margin-left: 10px;
  padding: 10px 20px; /* Adjust padding to change button size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition on hover */
}

#searchListener:hover {
  background-color: #450467; /* Background color on hover */
}

/* Style the ion-icon within the button */
#searchListener ion-icon {
  font-size: 20px; /* Adjust icon size */
  margin-right: 5px; /* Add spacing between icon and text */
}

h1{
  font-size: 30px;
  color: #5a0505;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.dateFilter button{
  margin-left: 15px;
  background-color: #9a06ea;; /* Background color for the button */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Adjust padding to change button size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition on hover */
}

.backBtn{
  position: relative;
  background-color: #9a06ea; /* Background color for the button */
  color: #fff; /* Text color */
  margin-left: 10px;
  padding: 10px 20px; /* Adjust padding to change button size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition on hover */
}

/*** Table Styles **/

.TableContainer {
  background: white;
  border: 3px solid white;
  border-radius: 10px;
  height: 420px;
  width: 800px;
}

.Table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
  animation: float 5s infinite;
}

tr {
  position: relative;
  color: black;
  background: white;
  border-bottom: solid 4px rgb(219, 215, 215);
  max-height: 40px;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

tbody tr:last-child{
  border-bottom: none;
}

th {
  color: black;
  background: white;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

td {
  color: black;
  background: white;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

 
 /* tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
 tr:first-child {
  border-top:none;
}

 tr:last-child {
  border-bottom:none;
}
 
 tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
 tr:nth-child(odd):hover td {
  background:#4E5066;
} */
 
 
