/* Center tables for demo
table {
  margin: 0 auto;
  margin-top: 0 ;
  position: relative;
}

#wrapper {

  background-color:#EDEDED;
  margin: 0 auto;
  margin-top: 0 ;
  padding-top: 130px;
  min-height: 100vh;
  min-width: 100%;
  /* will contain if #first is longer than #second */

#address-container{

  background-color:#EDEDED;
  
 text-align: center;
}

/* Default Table Style */
/* table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
  border-radius: 15px;
}
table thead th,
table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
} */

.button-container{
  display: flex;
  gap: 10px;
  margin: 30px auto;
  text-align: center;
  align-items: center;
  justify-content: center;

}
#button{


  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  background-color:#0a0a23;
  border:none;
  border-radius: 15px;

}*/

#buttonsmall{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 25px;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
  cursor: pointer;
  background-color:#0a0a23;
  border:none;
  border-radius: 15px;

} 
