
.frame {
    display: flex;
    flex-flow: column;
    height:100%;
    width: 100%; 
    flex-shrink: 1;
    background-color: #eee;
    /* margin: auto; */
}
.allCards {
    display: flex;
    justify-content: center;
    border-radius: 13px;
    flex-wrap: wrap;
}
.cardContainer {
    margin: 10px;
}
