/* .App {
  text-align: center;
  font-family: DM Sans, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p{
  color: black;
  font-weight: 600;
}

button {
  background-color: black;
  color: white;
  border-radius: 15px;
  cursor:pointer;
  border-style: none;
}*/ 
  

button:active {
  background-color: #232323;
}
input {
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  border-radius: 15px;
  font-weight: 600;
  padding-left: 10px;
  background-color: #eee;
}
input:focus, input:hover, select:active, select:hover{
  background-color: #cdcdcd;
}
select {
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  border-radius: 15px;
  font-weight: 600;
  padding-left: 10px;
  background-color: #eee;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
  text-align: center;
  font-family: DM Sans, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  background-color: black;
  color: white;
  border-radius: 15px;
  /* border-style: none; */
}
button:active {
  background-color: #232323;
}
input {
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  border-radius: 15px;
  font-weight: 600;
  padding-left: 10px;
  background-color: #eee;
}
input:focus, input:hover, select:active, select:hover{
  background-color: #cdcdcd;
}
select {
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
  border-radius: 15px;
  font-weight: 600;
  padding-left: 10px;
  background-color: #eee;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}